/* .mainDiv {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  color: dodgerblue;
}
p {
  color: blueviolet;
}
ul {
  list-style: none;
  text-align: center;
  padding: 15px;
}
li {
  border: 1px solid grey;
  padding: 30px;
  margin-top: 10px;
  border-radius: 5px;
}
.addbtn {
  margin-left: 25px;
  margin-top: 25px;
  background: cornflowerblue;
  padding: 10px 50px;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
span {
  color: rgb(99 19 19);
}
.Addinput {
  width: 300px;
  line-height: 34px;
  border-color: blue;
  border-radius: 7px;
}
::placeholder {
  color: black;
  text-align: center;
}
.edit-btn {
  padding: 6px 22px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.del-btn {
  padding: 6px 22px;
  margin-left: 4px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.update-btn {
  padding: 6px 22px;
  margin-left: 4px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.cancel-btn {
  padding: 6px 22px;
  margin-left: 4px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
} */
